<h3>Post your comment!</h3>
<form [formGroup]="commentFormGroup">
  <p-editor [(ngModel)]="comment" formControlName="content" [style]="{'height':'320px'}">
    <p-header>
        <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
        </span>
    </p-header>
  </p-editor>
</form>
<div class="ui-g">
  <div class="ui-g-1 ui-m-2 ui-sm-3">
    <button pButton type="button" label="Post" icon="pi pi-comment" [disabled]="!commentFormGroup.valid"
            (click)="createComment()"></button>
  </div>
</div>
