<div class="ui-g-12 ui-md-6">
  <p-panel>
    <p-header>
      <h1>Create a location</h1>
    </p-header>

    <form [formGroup]="locationFormGroup" class="location-form">
      <!--NAME -->
      <div class="ui-g">
        <div class="ui-g-12 ui-md-9">
      <span class="ui-float-label">
        <input id="float-name" type="text" size="30" formControlName="name" required pInputText>
        <label for="float-name">Name</label>
       </span>
        </div>
        <div class="ui-g-12 ui-md-3">
          <p-message *ngIf="locationFormGroup.controls.name.hasError('required')" severity="error"
                     text="Field is required"></p-message>
        </div>
      </div>

      <!--STREET -->
      <div class="ui-g">
        <div class="ui-g-12 ui-md-9">

      <span class="ui-float-label">
        <input id="float-street" type="text" size="30" formControlName="street" pInputText>
        <label for="float-street">Street</label>
       </span>
        </div>
      </div>

      <!--ZIPCODE -->
      <div class="ui-g">
        <div class="ui-g-8 ui-md-3">
      <span class="ui-float-label">
        <input id="float-zip_code" type="number" size="30" formControlName="zip_code" pInputText>
        <label for="float-zip_code">Zip Code</label>
       </span>
        </div>
        <!--CITY -->
        <div class="ui-g-8 ui-md-3">
          <span class="ui-float-label">
        <input id="float-city" type="text" size="30" formControlName="city" pInputText>
        <label for="float-city">City</label>
       </span>
        </div>
        <!--COUNTRY -->
        <div class="ui-g-8 ui-md-3">

      <span class="ui-float-label">
        <input id="float-country" type="text" size="30" formControlName="country" pInputText>
        <label for="float-country">Country</label>
       </span>
        </div>
      </div>
      <!--CAPACITY -->
      <div class="ui-g">

        <div class="ui-g-8 ui-md-3">
        <span class="ui-float-label">
          <input id="float-max_user" type="number" size="30" formControlName="max_user" pInputText>
          <label for="float-max_user">Max. amount of people</label>
       </span>
        </div>
      </div>

      <div class="ui-g">
        <h3 *ngIf="!locationFormGroup.controls?.picture.value">No picture added!</h3>
        <h3 *ngIf="locationFormGroup.controls?.picture.value">Picture of the location:</h3>
        <img *ngIf="locationFormGroup.controls?.picture.value" class="ui-g-12 ui-md-3" width="400"
             [src]="'/api/media/' + locationFormGroup.controls.picture.value">
      </div>
      <div class="ui-g">
        <p-fileUpload class="ui-g-12 ui-md-3" chooseLabel="Upload a picture..." url="./api/media/upload"
                      accept="image/*"
                      name="myfile[]" mode="basic"
                      (onSelect)="uploadFile($event)"></p-fileUpload>

      </div>
    </form>
    <p-footer>
      <div class="ui-g">
        <div class="ui-g-4 ui-md-2 center" *ngIf="!locationFormGroup.controls.id.value">
          <button pButton label="Create"
                  [disabled]="!locationFormGroup.valid"
                  (click)="createLocation()">
          </button>
        </div>
        <div class="ui-g-4 ui-md-2 center" *ngIf="locationFormGroup.controls.id.value">
          <button pButtonlabel="Update"
                  [disabled]="!locationFormGroup.valid"
                  (click)="createLocation()">
          </button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>
