

<p-menubar [model]="menuBarItems">
  <input type="text" (keydown.enter)="save($event)" pInputText placeholder="Search">
  <!-- <button [routerLink]="'/home/'+ searchString" pButton label="Go" icon="fa fa-sign-in" style="margin-left:.25em"></button>-->
  <app-logout *ngIf="isLoggedIn"></app-logout>
  <button routerLink="login" pButton label="Login" *ngIf="isLoggedIn == false" icon="fa fa-sign-in" style="margin-left:.25em"></button>
  <button routerLink="register" pButton label="Register" *ngIf="isLoggedIn == false" icon="pi pi-id-card" style="margin-left:.25em"></button>
  <button [routerLink]="'/user-detail/' + userService.userId()" pButton label="{{userService.userName()+'\'s'}} Profile" *ngIf="isLoggedIn" icon="pi pi-user" style="margin-left:.25em"></button>
</p-menubar>

<div class="content-section implementation ui-fluid">
    <div class="ui-g-12 ui-md-2">
      <img alt="logo" src="../assets/img/ftw_logo.png" width="70%" routerLink='home'/>
      <h4>{{ftwPhrase}}</h4>
      <p-menu [model]="menuItems"></p-menu>
    </div>
    <div class="ui-g-12 ui-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
