<p-toast position="bottom-left"></p-toast>
<h1>{{eventDetailGroup.controls.name.value}}</h1>
<div class="ui-g-12 ui-md-4">

  <div *ngIf="eventDetailGroup?.controls.picture.value" class="aspect-ratio-box">
    <img src="/api/media/{{eventDetailGroup.controls.picture.value}}">
  </div>
  <div class="aspect-ratio-box" *ngIf="!eventDetailGroup.controls?.picture.value">
    <img src="assets/usercard.png">
  </div>
  <p-panel *ngIf="userService?.userId()">
    <p-header>Actions</p-header>
    <div class="ui-g">
      <div class="ui-g-6 ui-md-4" *ngIf="eventDetailGroup.controls.creator.value == userService.userId()">
        <button pButton type="button" label="Edit Event" icon="pi pi-pencil"
                [routerLink]="'/event-form/' + eventDetailGroup.controls.id.value"></button>
      </div>
      <div class="ui-g-6 ui-md-5" *ngIf="eventDetailGroup.controls.creator.value != userService.userId()">
        <p-toggleButton onLabel="Attending Event" offLabel="Unattending Event"
                        (onChange)="attendToEvent()" onIcon="fa fa-check" offIcon="fa fa-times" iconPos="right"
                        [(ngModel)]="attendEventBool"></p-toggleButton>
      </div>
    </div>
  </p-panel>
</div>
<p-accordion class="ui-g-12 ui-md-8" [multiple]="true">
  <p-accordionTab selected=true header="About {{eventDetailGroup.controls.name.value}}">
    <h3>Start of the event:</h3>
    {{eventDetailGroup.controls.start_date.value | date:'dd. MMM  yyyy, HH:mm ' }}
    <h3>End of the event:</h3>
    {{eventDetailGroup.controls.end_date.value | date:'dd. MMM  yyyy, HH:mm ' }}
    <h3>Created by:</h3>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3">
        <button [routerLink]="'/user-detail/'+eventDetailGroup.controls.creator.value" pButton type="button"
                [label]="eventDetailGroup.controls.user_name.value" icon="pi pi-user"></button>
      </div>
    </div>
    <h3>Description: </h3>
    <p [innerHTML]="eventDetailGroup.controls.description.value"></p>
    <h3>Cost:</h3>
    {{eventDetailGroup.controls.costs.value}}€

  </p-accordionTab>
  <p-accordionTab selected=true header="Event Location">
    <p>{{eventDetailGroup.controls.location_name.value}}</p>
    <p>{{eventDetailGroup.controls.location_street.value}}</p>
    <p>{{eventDetailGroup.controls.location_zip_code.value}} {{eventDetailGroup.controls.location_city.value}},
      {{eventDetailGroup.controls.location_country.value}}</p>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-2">
        <a target="_blank"
           href="https://google.com/maps/place/{{eventDetailGroup.controls.location_street.value.replace(' ', '+')}},
    +{{eventDetailGroup.controls.location_zip_code.value}}ˆ
    +{{eventDetailGroup.controls.location_city.value}}">
          <button pButton type="button" label="Google Maps" icon="pi pi-compass"></button>
        </a>
      </div>
    </div>
  </p-accordionTab>
  <p-accordionTab selected=true header="Comments">
    <app-comment-list [eventId]="eventDetailGroup.controls.id.value"></app-comment-list>
  </p-accordionTab>
</p-accordion>
