<div class="ui-g">
  <div class="ui-g-12 ui-m-12">
    <h1>Events</h1>
    <app-event-list [amountRows]="4" classCard="ui-g-12 ui-md-3" classButton="ui-g-12 ui-md-5"></app-event-list>
  </div>
  <br>
  <div class="ui-g-12 ui-m-12">
    <h1>Locations</h1>
    <app-location-list [amountRows]="4" classCard="ui-g-12 ui-md-3"></app-location-list>
  </div>
  <div class="ui-g-12 ui-m-12">

    <h1>Categories</h1>
    <app-category-list [amountRows]="4" classCard="ui-g-12 ui-md-3"></app-category-list>
  </div>
</div>
