<p-panel class="ui-g-12 ui-md-6">
  <p-header><h1>Create an Event</h1></p-header>

  <form [formGroup]="eventFormGroup" class="event-form">

    <!--NAME-->
    <span class="ui-float-label">
        <input id="float-name" type="text" size="30" formControlName="name" pInputText required>
        <label for="float-name">Eventname</label>
      </span>

    <!--  start date-->


    <!--        Prime NG Datepicker funktioniert update noch nicht.-->
    <!--        <p-calendar placeholder="Start Date" formControlName="start_date" showTime="true" [monthNavigator]="true" [yearNavigator]="true"-->
    <!--                    yearRange="2020:2030"></p-calendar>-->
    <mat-form-field class="ui-g-12 ui-md-6">
      <input matInput [matDatepicker]="pickerstart" placeholder="Start Date" formControlName="start_date">
      <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
      <mat-datepicker #pickerstart></mat-datepicker>
    </mat-form-field>


    <!--  end date-->


    <!--        Prime NG Datepicker funktioniert update noch nicht.-->
    <!--        <p-calendar placeholder="End Date" formControlName="end_date" showTime="true" [monthNavigator]="true" [yearNavigator]="true"-->
    <!--                    yearRange="2020:2030"></p-calendar>-->
    <mat-form-field class="ui-g-12 ui-md-6">
      <input matInput [matDatepicker]="pickerend" placeholder="End Date" formControlName="end_date">
      <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
      <mat-datepicker #pickerend></mat-datepicker>
    </mat-form-field>


    <!--   private-->

    <div class="ui-md-12">
      <!--      <mat-checkbox formControlName="private">Private</mat-checkbox>-->
      <p-checkbox formControlName="private" binary="true" label="private"></p-checkbox>
    </div>

    <div class="ui-g"><!--    Location-->
      <div class="ui-g-8 ui-md-6">
        <!--      primeNG dropdown funktioniert nicht richtig bei Update-->
        <p-dropdown formControlName="location" editable="true" [options]="locationOptions"
                    placeholder="Select a Location"
                    optionLabel="name"></p-dropdown>
        <!-- <select name="name" formControlName="location">
           <option>Select location</option>
           <option *ngFor="let locationOption of locationOptions" value="{{ locationOption.id }}">
             {{ locationOption.name }}
           </option>
         </select>-->
      </div>
      <!--    Category-->
      <div class="ui-g-8 ui-md-6">
        <!--              primeNG dropdown funktioniert nicht richtig bei Update-->
        <p-dropdown formControlName="category" editable="true" [options]="categoryOptions"
                    placeholder="Select a Category"
                    optionLabel="title"></p-dropdown>
        <!--<select name="title" formControlName="category">
          <option>Select a category</option>
          <option *ngFor="let categoryOption of categoryOptions" value="{{ categoryOption.id }}">
            {{ categoryOption.title }}
          </option>
        </select>-->
      </div>
    </div>
    <!--Short Description-->
    <div class="ui-g">
      <div class="ui-g-12 ui-md-10">
      <span class="ui-float-label">
        <input id="float-sdescription" type="text" size="50" formControlName="short_description" pInputText>
        <label for="float-sdescription">Short Description</label>
      </span>
      </div>
    </div>
    <!--    Description-->
    <div class="ui-g">
    <div class="ui-g-12 ui-md-12">
      <p-editor formControlName="description" [style]="{'height':'320px'}">
        <p-header>
        <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
        </span>
        </p-header>
      </p-editor>
      <!--<p>Value: {{description||null}}</p>-->
    </div>
    </div>
    <!-- <span class="ui-float-label">
       <input id="float-description" type="text" formControlName="description" pInputText>
       <label for="float-description">Description</label>
     </span>
   </div>-->
    <!--Creator-->
    <!--    <div class="ui-g-12 ui-md-12">
          <span class="ui-float-label">
            <input id="float-creator" type="text" formControlName="creator" disabled="true" pInputText>
            <label for="float-creator">Creator</label>
          </span>
        </div>-->
    <!--    Max Users-->
    <div class="ui-g">
      <div class="ui-g-6 ui-md-4">
      <span class="ui-float-label">
        <input id="float-maxusers" type="number" formControlName="max_users" pInputText>
        <label for="float-maxusers">Max Users</label>
      </span>
      </div>
      <!--    Costs-->
      <div class="ui-g-6 ui-md-4">
      <span class="ui-float-label">
        <input id="float-costs" type="number" formControlName="costs" pInputText>
        <label for="float-costs">Costs</label>
      </span>
      </div>
    </div>
    <!--    Picture Upload-->
    <div class="ui-g ui-md-12">
      <h3 *ngIf="!eventFormGroup.controls?.picture.value">No picture added!</h3>
      <h3 *ngIf="eventFormGroup.controls?.picture.value">Picture of the event:</h3>
      <img *ngIf="eventFormGroup.controls?.picture.value" class="ui-g-12 ui-md-3" width="400"
           [src]="'/api/media/' + eventFormGroup.controls.picture.value">
    </div>
    <div class="ui-g ui-md-3">
      <p-fileUpload chooseLabel="Upload a picture..." url="./api/media/upload"
                    accept="image/*"
                    name="myfile[]" mode="basic"
                    (onSelect)="uploadFile($event)"></p-fileUpload>

    </div>

  </form>
  <p-footer>
    <!--Buttons-->
    <div class="ui-g">
      <div *ngIf="!eventFormGroup.controls.id.value" class="ui-g-12 ui-md-2 center">
        <button pButton label="Create" [disabled]="!eventFormGroup.valid"
                (click)="createEvent()"></button>
      </div>
      <div *ngIf="eventFormGroup.controls.id.value" class="ui-g-12 ui-md-2 center">
        <button pButton label="Update" [disabled]="!eventFormGroup.valid"
                (click)="createEvent( )">
        </button>
      </div>
    </div>
  </p-footer>
</p-panel>
<!--<div><app-mediainput></app-mediainput></div>-->
