
<!--<form>-->
  <h3>Float Label</h3>
  <span class="ui-float-label">
    <input id="float-input1" type="text" size="30" pInputText>
    <label for="float-input1">Username</label>
</span>
  <h3>Float Label</h3>
  <span class="ui-float-label">
    <input id="float-input2" type="text" size="30" pInputText>
    <label for="float-input2">Username</label>
</span>
  <h3>Float Label</h3>
  <span class="ui-float-label">
    <input id="float-input3" type="text" size="30" pInputText>
    <label for="float-input3">Username</label>
</span>

<!--</form>-->

<div><app-mediainput></app-mediainput></div>

