.comment-item .ui-md-3 {
  text-align: center;
}

.comment-item .ui-g-10 {
  font-weight: bold;
}

.empty-comment-item-index {
  background-color: #f1f1f1;
  width: 60px;
  height: 60px;
  margin: 36px auto 0 auto;
  animation: pulse 1s infinite ease-in-out;
}

.empty-comment-item-image {
  background-color: #f1f1f1;
  width: 120px;
  height: 120px;
  animation: pulse 1s infinite ease-in-out;
}

.empty-comment-item-text {
  background-color: #f1f1f1;
  height: 18px;
  animation: pulse 1s infinite ease-in-out;
}

.title-container {
  padding: 1em;
  text-align: right;
}

.sort-container {
  text-align: left;
}

@media (max-width: 40em) {
  .comment-item {
    text-align: center;
  }
}
