<!--CSS FUNKTIONIERT NOCHT NICHT RICHTIG!-->
<h3>Comments</h3>
<p-virtualScroller [value]="comments" scrollHeight="500px" [itemSize]="150">
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6 title-container">
                List of comments
            </div>
        </div>
    </p-header>
    <ng-template let-comments pTemplate="item" let-i="index">
        <div class="ui-g comments-item">
            <div class="ui-g-12 ui-md-2">
                <div style="font-size: 24px; text-align: center; padding-top: 48px">{{i}}</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <!--                <img src="assets/showcase/images/demo/car/{{car?.brand}}.png">-->
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">User:</div>
                    <div class="ui-g-10 ui-sm-6">{{comments?.content}}</div>


                </div>
            </div>
        </div>
    </ng-template>

</p-virtualScroller>

<app-comment-form [eventId]="eventId"></app-comment-form>
