<!--CSS FUNKTIONIERT NOCHT NICHT RICHTIG!-->
<app-comment-form [eventId]="eventId" *ngIf="userService.hasPermission('ftw.add_comment')"></app-comment-form>

<p-virtualScroller [value]="comments" scrollHeight="500px" [itemSize]="100">
    <!--<p-header>
        <div class="ui-g">
            <div class="ui-g-6 title-container">
                List of comments
            </div>
        </div>
    </p-header>-->
    <ng-template let-comments pTemplate="item" let-i="index">
        <div class="ui-g comments-item">
            <!--<div class="ui-g-12 ui-md-2">
                <div style="font-size: 24px; text-align: center; padding-top: 48px">{{i}}</div>
            </div>-->
            <!-- <div class="ui-g-12 ui-md-2">

            </div>-->
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">
                      <img width="70" height="70" alt="logo" src="../assets/img/Jaguar.png"/>
                    </div>
                    <div class="ui-g-10 ui-sm-6" >
                      <p ><span style="font-weight:bold">User: {{comments?.user_name}}, Posted: {{comments?.create_date}}</span></p>
                      <p [innerHTML]="comments?.content"></p>
                    </div>


                </div>
            </div>
        </div>
    </ng-template>

</p-virtualScroller>

