<p-panel class="ui-g-12 ui-md-6">
    <p-header>
        <h1>Create a new User</h1>
    </p-header>

    <form [formGroup]="registerFormGroup" class="register-form">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <span class="ui-float-label">
                    <input id="float-username" type="text" size="30" formControlName="username" required pInputText>
                    <label for="float-username">Username</label>
                </span>
            </div>
            <div class="ui-g-12 ui-md-3">
                <p-message *ngIf="registerFormGroup.controls.username.hasError('required')" severity="error"
                           text="Field is required"></p-message>
              <p-message *ngIf="registerFormGroup.controls.username.hasError('usernameAlreadyExists')" severity="error"
                         text="Username already exists"></p-message>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-3">
            <span class="ui-float-label">
            <input id="float-password" pPassword [feedback]=true type="password" name="uPass" size="30"
                   formControlName="password" required pInputText>
            <label for="float-password">Password</label>
            </span>
            </div>
            <div class="ui-g-12 ui-md-3">
                <p-message *ngIf="registerFormGroup.controls.password.hasError('required')" severity="error"
                           text="Field is required"></p-message>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-3">
                <span class="ui-float-label">
                <input id="float-confirmPassword" pPassword [feedback]=false type="password" name="uPass" size="30"
                       formControlName="confirmPassword" required
                       pInputText>
                <label for="float-confirmPassword">Confirm password</label>
                </span>
            </div>
            <div class="ui-g-12 ui-md-3">
                <p-message *ngIf="registerFormGroup.controls.confirmPassword.hasError('compare')" severity="error"
                           text="Passwords do not match"></p-message>
                <!--<p-message *ngIf="registerFormGroup.controls.confirmPassword.hasError('required')" severity="error"
                           text="Field is required"></p-message>-->
            </div>
        </div>
    </form>
<p-footer>

<div class="ui-g">
    <div class="ui-g-12 ui-md-3">
      <button pButton *ngIf="!registerFormGroup.controls.id.value" label="Create"
              [disabled]="!registerFormGroup.valid"
              (click)="createUser()">
      </button>
    </div>
</div>
</p-footer>
</p-panel>


<!--<p-panel class="ui-g-12 ui-md-6">
    <p-header>
        <h1>Create a new User</h1>
    </p-header>

    <form [formGroup]="registerFormGroup" class="register-form">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-6">
              <span class="ui-float-label">
              <input id="float-username" type="text" size="30" formControlName="username" required pInputText>
              <label for="float-username">Username</label>
              </span>
            </div>
            <div class="ui-g-12 ui-md-3">
                <p-message *ngIf="registerFormGroup.controls.username.hasError('required')" severity="error"
                           text="Field is required"></p-message>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-3">
            <span class="ui-float-label">
            <input id="float-password" type="text" size="30" formControlName="password" required pInputText>
            <label for="float-password">Password</label>
            </span>
            </div>
            <div class="ui-g-12 ui-md-3">
                <p-message *ngIf="registerFormGroup.controls.password.hasError('required')" severity="error"
                           text="Field is required"></p-message>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-3">
                <span class="ui-float-label">
                <input id="float-confirmPassword" type="text" size="30" formControlName="confirmPassword" required
                       pInputText>
                <label for="float-confirmPassword">Confirm password</label>
                </span>
            </div>
            <div class="ui-g-12 ui-md-3">
                <p-message *ngIf="registerFormGroup.controls.confirmPassword.hasError('compare')" severity="error"
                           text="Passwords do not match"></p-message>
                &lt;!&ndash;<p-message *ngIf="registerFormGroup.controls.confirmPassword.hasError('required')" severity="error"
                           text="Field is required"></p-message>&ndash;&gt;
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton *ngIf="!registerFormGroup.controls.id.value" label="Create"
                [disabled]="!registerFormGroup.valid"
                (click)="createUser()">
        </button>
        <button pButton *ngIf="registerFormGroup.controls.id.value" label="Update"
                [disabled]="!registerFormGroup.valid"
                (click)="createUser()">
        </button>
    </p-footer>
</p-panel>
-->
<!--<h1>Create a new User</h1>
<div class="ui-g-12 ui-md-6">
    <form [formGroup]="registerFormGroup" class="register-form">
        <div class="ui-g-12 ui-md-3">
        <span class="ui-float-label">
            <input id="float-username" type="text" size="30" formControlName="username" required pInputText>
            <label for="float-username">Username</label>
        </span>
        </div>
        <div class="ui-g-12 ui-md-3">
            <p-message *ngIf="registerFormGroup.controls.username.hasError('required')" severity="error"
                       text="Field is required"></p-message>
        </div>
        <br/>
        <br/>

        <div class="ui-g-12 ui-md-3">
      <span class="ui-float-label">
        <input id="float-password" type="text" size="30" formControlName="password" required pInputText>
        <label for="float-password">Password</label>
       </span>
        </div>
        <div class="ui-g-12 ui-md-3">
            <p-message *ngIf="registerFormGroup.controls.password.hasError('required')" severity="error"
                       text="Field is required"></p-message>
        </div>
        <br/>
        <br/>

        <div class="ui-g-12 ui-md-3">
      <span class="ui-float-label">
        <input id="float-confirmPassword" type="text" size="30" formControlName="confirmPassword" required pInputText>
        <label for="float-confirmPassword">Confirm password</label>
       </span>
        </div>
        <div class="ui-g-12 ui-md-3">
            <p-message *ngIf="registerFormGroup.controls.confirmPassword.hasError('compare')" severity="error"
                       text="Passwords do not match"></p-message>
            <p-message *ngIf="registerFormGroup.controls.confirmPassword.hasError('required')" severity="error"
                       text="Field is required"></p-message>
        </div>

        <div class="ui-g-12 ui-md-2">
            <button pButton *ngIf="!registerFormGroup.controls.id.value" label="Create"
                    [disabled]="!registerFormGroup.valid"
                    (click)="createUser()">
            </button>
            <button pButton *ngIf="registerFormGroup.controls.id.value" label="Update"
                    [disabled]="!registerFormGroup.valid"
                    (click)="createUser()">
            </button>
        </div>
    </form>
</div>-->

<!--
<form [formGroup]="registerFormGroup" class="register-form">

  <mat-form-field>
    <input matInput type="text" placeholder="Username" formControlName="username" required>
    <mat-hint align="end">Your Username</mat-hint>
    <mat-error *ngIf="registerFormGroup.controls.username.hasError('required')">Username is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput pPassword type="password" placeholder="Password" formControlName="password" required/>
    <mat-hint align="end">Your Password</mat-hint>
    <mat-error *ngIf="registerFormGroup.controls.password.hasError('required')">Password is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput pPassword type="password" placeholder="Confirm Password" formControlName="confirmPassword" required/>
    <mat-hint align="end">Your Password again</mat-hint>
    <mat-error *ngIf="registerFormGroup.controls.confirmPassword.hasError('required')">Confirm Password is required</mat-error>
    <mat-error *ngIf="registerFormGroup.controls.confirmPassword.hasError('compare')">
      Passwords are not equal
    </mat-error>
  </mat-form-field>

  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!registerFormGroup.valid" (click)="createUser()">
      <span>Create</span>

    </button>
  </mat-card-actions>
</form>
-->
